[submodule "mm"]
	path = mm
	url = git@github.com:Michal-Miko/aoc-2023.git
[submodule "md"]
	path = md
	url = https://github.com/mateusz-dzitkowski/aoc23
[submodule "sk"]
	path = sk
	url = git@github.com:Naylepsh/advent-of-code.git
